Oh Hai! Our service rocks.

<p>
<%= link_to user_omniauth_authorize_path(provider: :facebook) do %>
  <%= image_tag "facebook.png", id: 'facebook-login' %>
<% end %>
</p>


<div id="loader">
  <%= image_tag "loader.gif" %>
</div>
